/* SCENE 1 */
.scene1 {
    height: 100%;
    width: 100%;
}
.scene1__text {
    width: 17ch;
}
.scene1__svg {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.wave {
    animation: wave 2s ease-in-out infinite;
}

#scene1__wave1 {
    animation-delay: 0.3s;
}
#scene1__wave2 {
    animation-delay: 0.6s;
}
#scene1__wave3 {
    animation-delay: 0.9s;
}
#scene1__wave4 {
    animation-delay: 1.2s;
}
#scene1__wave5 {
    animation-delay: 1.5s;
}