@use "../base/variables" as v;

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: v.$space-2xs;
    font-size: v.$step-0;
    line-height: 1.3;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: v.$space-2xs;
    transform: translate(-50%, -50%);
}
.fact-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: min(80%, 60ch);
    padding: v.$space-2xs;
    border: 2px solid black;
    font-size: v.$step--2;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    transform: translate(-50%, -50%);
}

#scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #ff9900;
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    display: none; /* Hide as standard */
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;

    &:hover {
        background: #e67e00;
    }
  }
  
  
  